<div>
    <h1>Manager Index!</h1>
    <div>
        <h2>Redactor</h2>
        <form>
            <input placeholder="Name"/>
            <input placeholder="Place"/>
            <input placeholder="Desription"/>
            <input placeholder="Date"/>
            <input type="submit"/>
        </form>
    </div>
</div>
