@{
    List<string> names = new List<string>(){"футбол", "баскет", "шахматы"};

 
}
@using Hakaton.Models
@model IEnumerable<Event>

<h1 class="display-4">Events</h1>
<div class="card-group" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    @foreach (var e in Model)
    {
  <button class="button_card" type="button" data-bs-toggle="collapse" data-bs-target="#@e.Name" aria-expanded="false" aria-controls="collapseExample">
     <div class="card_event">
        <h1>@e.Name</h1>
        <h2>30 августа 15:00</h2>
        <p class="collapse" id="@e.Name">@e.Description</p>
        <p>@e.Location</p>
        <p>Лайк</p>
        <p>Комменты...</p>
    </div>
    </button>
    }
</div>
